.pq-grid, .pq-grid-center, div.pq-grid-cont, .pq-grid-cont-inner {
    overflow: visible!important;
}

.tav-nav, .tabs {
    visibility: hidden;
    height: 0px;
}

.avatar-big {
	border-radius: 50%;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 60px;
}

.green-glow {
	box-shadow: 0px 0px 45px #2dc937;
}

.yellow-glow {
	box-shadow: 0px 0px 45px #e7b416;
}

.red-glow {
	box-shadow: 0px 0px 45px #cc3232;
}

.grey-glow {
	box-shadow: 0px 0px 45px #a9a9a9;
}

.header-title {
    height: 20px;
    line-height: 25px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.center {
	text-align: center;
}

.same-line {
	display: inline;
}

.grey {
    color: #a9a9a9;
}

.login-form {
    padding: 30px 15px;
    min-height: calc(100% - 123px);
}

.ng-invalid.ng-touched {
    border: 1px solid red;
}

.btn-filter {
  border-color: #9A9A9A !important;
  border-width: 1px !important;
  color: #9A9A9A !important;
  margin-bottom: 10px !important;
  margin-right: 10px !important;
}

.btn-filter:hover {
  color: #1DC7EA !important;
  border-color: #1DC7EA !important;
}

.btn-filter.active {
  background-color: #1DC7EA !important;
  border-color: #1DC7EA !important;
  color: white !important;
}

.time-picker-container .picker-active {
  pointer-events: auto !important;
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.notification {
  position: absolute;
  z-index: 5;
  padding: 25px;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.nav > li.only-mobile  {
  display: none;
}

.nav-open .nav > li.only-mobile  {
  display: inline;
}

.at-pwd-form {
  display: none;
}

.at-sep {
  display: none;
}

.lower {
  margin-top: 20px;
}

.alternative-action {
  color: #B8B8B8;
  text-align: right;
  text-decoration-style: dashed;
  text-decoration-line: underline;
  padding-top: 5px;
  -webkit-text-decoration-line: underline;
  -webkit-text-decoration-style: dashed;
}

.link {
  cursor: pointer;
}

div.pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: normal;       /* Internet Explorer 5.5+ */
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    padding: 5px;
}

.circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
  padding-top: 4px;
  text-align: center;
  color: white;
  background-color: rgb(29,199,234,.6);
}

div.md-editor {
  margin-left: 1px;
}

div.md-editor>div.md-preview {
  border-bottom: none;
}

div.md-editor>textarea {
  border-bottom: none;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}/* CSS Document */

.material-switch > label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    box-sizing: border-box;
    text-align: -webkit-match-parent;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook:hover, .fa-facebook:focus {
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  padding-right: 30px;
  position: relative;
  padding-left: 25px;
}
