<ion-view cache-view="false">
  <style>
    .date-picker-days i {position:relative;width:14.28%;height:24px;padding:6px 0;text-align:center;display:inline-block;line-height:1;vertical-align:top;cursor:pointer;overflow:hidden;}
  </style>
  <div id="sidebar" class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

  <!--

      Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
      Tip 2: you can also add an image using data-image tag

  -->

  <div class="sidebar-wrapper">
    <div class="logo">
      <a class="simple-text">
        Consensual
      </a>
    </div>

    <ul class="nav">
      <li>
        <a href="#!/tab/todo">
          <p>Agreements</p>
        </a>
      </li>
      <li>
        <a href="#!/tab/contacts">
          <p>Contacts</p>
        </a>
      </li>
      <li>
        <a href="#!/tab/settings">
          <p>Settings</p>
        </a>
      </li>
      <li class="only-mobile">
        <a href="#!/login" onclick="Meteor.logout()">
          <p>Log out</p>
        </a>
      </li>
    </ul>
  </div>
</div>


<div class="main-panel">

  <ion-tabs>

    <ion-tab title="ToDoList" href="#/tab/todo">
      <ion-nav-view name="tab-todo"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Proposal" href="#/tab/proposal">
      <ion-nav-view name="tab-proposal"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Contacts" href="#/tab/contacts">
      <ion-nav-view name="tab-contacts"></ion-nav-view>
    </ion-tab>
    <ion-tab title="NotFound" href="#/tab/notfound">
      <ion-nav-view name="tab-notfound"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Settings" href="#/tab/settings">
      <ion-nav-view name="tab-settings"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Profile" href="#/tab/profile">
      <ion-nav-view name="tab-profile"></ion-nav-view>
    </ion-tab>
  </ion-tabs>

  <footer class="footer">
    <div class="container-fluid">
      <nav class="pull-left">
        <ul>
          <li>
            <a href="#!/tab/todo">
              Company
            </a>
          </li>
        </ul>
      </nav>
      <p class="copyright pull-right">
        &copy; <script>document.write(new Date().getFullYear())</script> <a href="">Consensual</a>, made with love for a better web
      </p>
    </div>
  </footer>

</div>
</ion-view>