<ion-view view-title="Login" cache-view="false">
    <div class="content login-form">
      <div class="container-fluid picker-mask">
        <div class="row">
          <div class="card">
            <div class="content picker-container">
              <blaze-template name="atForm" replace></blaze-template>
              <a style="text-align: center;" ng-show="login.data" href="#!/tab/todo">
                <p>Go to the main page</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</ion-view>