<ion-view view-title="Profile" cache-view="false">
  <nav class="navbar navbar-default navbar-fixed">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar" onclick='$(":root").toggleClass("nav-open"); $(".sidebar").removeClass("in")'>
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">User profile</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="card" style="box-shadow: none; margin-top:15px;">
            <img class="avatar border-gray" src="{{profile.data.picture}}" alt="..."/>
          </li>
          <li>
            <a href="#!/login" ng-click="profile.logout()">Log out</a>
          </li>
          <li class="separator hidden-lg"></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="content">
    <div class="container-fluid">
      <form name="editProfile" autocomplete="off">
        <button class="hidden">Receives Enter key for the form and does nothing</button>
        <div class="row">
          <div class="col-md-2 col-xs-6 col-sm-3 center">
            <div>
              <img class="avatar-big border-gray " style="width: 100px" src="{{profile.data.picture}}" alt="..."/>
            </div>
          </div>
          <div class="col-md-10 col-xs-6 col-sm-9 lower">
            <div class="header-title" style="margin-top: 20px">Name:
              <button type="button" rel="tooltip" title="{{profile.editingName ? 'Save' : 'Edit'}}" ng-click="profile.editingName ? profile.saveName(profile.data.name) : profile.flipNameEditingStatus()" class="btn {{profile.editingName ? 'btn-success': 'btn-danger'}} btn-simple btn-xs">
                <i class="fa fa-edit"></i>
              </button>
            </div>
            <div ng-show="!profile.editingName" ng-click="profile.flipNameEditingStatus()" style="word-wrap:break-word">{{profile.data.name}}</div>
            <div ng-show="profile.editingName">
              <input type="text" class="form-control form-group" ng-keydown="$event.keyCode === 13 && !$event.shiftKey && profile.saveName(profile.data.name)" ng-model="profile.data.name" name="editName" required-field autocomplete="off">
            </div>
            <!--<div class="header-title" style="margin-top: 20px">Location:-->
              <!--<button type="button" rel="tooltip" title="{{proposal.editingLocation ? 'Save' : 'Edit'}}" ng-click="proposal.editingLocation ? proposal.saveLocation(proposal.data.location) : proposal.flipLocationEditingStatus()" class="btn {{proposal.editingLocation ? 'btn-success': 'btn-danger'}} btn-simple btn-xs">-->
                <!--<i class="fa fa-edit"></i>-->
              <!--</button>-->
            <!--</div>-->
            <!--<div ng-show="!proposal.editingLocation" ng-click="proposal.flipLocationEditingStatus()" style="word-wrap:break-word">{{proposal.data.location}}</div>-->
            <!--<div ng-show="proposal.editingLocation">-->
              <!--<input type="text" class="form-control form-group" ng-keydown="$event.keyCode === 13 && !$event.shiftKey && proposal.saveLocation(proposal.data.location)" ng-model="proposal.data.location" name="editLocation" required-field autocomplete="off">-->
            <!--</div>-->
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-view>