<ion-view view-title="Draft" cache-view="false">
  <nav class="navbar navbar-default navbar-fixed">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar" onclick='$(":root").toggleClass("nav-open"); $(".sidebar").removeClass("in")'>
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand" style="padding-right: 0px">Draft</span>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="card" style="box-shadow: none; margin-top:15px;">
            <img class="avatar border-gray" src="{{draft.accountPicture()}}" alt="..."/>
          </li>
          <li>
            <a href="#!/login" ng-click="draft.logout()">Log out</a>
          </li>
          <li class="separator hidden-lg"></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="content">
    <div class="container-fluid">
      <form name="editdraftForm" autocomplete="off">
        <button class="hidden">Receives Enter key for the form and does nothing</button>
        <div class="row">
          <div class="col-md-4 col-xs-12 col-sm-6 lower">
            <div class="form-group">
              <span class="header-title" style="font-size: 16px">To Whom?</span>
              <button type="button" rel="tooltip" title="{{draft.editingReceiver ? 'Save' : 'Edit'}}" ng-disabled="draft.editingReceiver && !draft.receiverCorrect  " ng-click="draft.editingReceiver ? draft.saveReceiver() : draft.flipReceiverEditingStatus()" class="btn {{draft.editingReceiver && draft.receiverCorrect ? 'btn-success': 'btn-danger'}} btn-simple btn-xs">
                <i class="fa fa-edit"></i>
              </button><br/>
              <input type="text" name="autocompleteOff1" autocomplete="off" style="display:none;">
              <div ng-show="!draft.editingReceiver" ng-click="draft.flipReceiverEditingStatus()" style="word-wrap:break-word; margin: 10px 0px">
                <img class="avatar avatar-small border-gray" src="{{draft.data.receiver.picture}}" alt="{{draft.data.receiver.name}}" title="{{draft.data.receiver.name}}" style="margin-right: 5px"/>
                {{draft.data.receiver.name}}
              </div>
              <div ng-show="draft.editingReceiver">
                <div>
                  <input type="text" name="newReceiver" ng-model="draft.newReceiver.name" ng-keyup="draft.suggestKeyEntered()" class="form-control nametypeahead" data-provide="typeahead" placeholder="Start entering the name" autocomplete="off" autofill="off"/>
                  <!-- TODO: add invitations -->
                  <!--<div ng-hide="todoList.invitationLimitReached" class="alternative-action link" data-toggle="modal" data-target="#inviteModal">invite a new person to connect to</div>-->
                </div>
                <div style="margin: 8px 0px">
                  <span style="margin: 0px 10px">or</span>
                  <img ng-repeat="popularUser in draft.popularUsers" class="avatar border-gray link" src="{{popularUser.picture}}" alt="{{popularUser.name}}" title="{{popularUser.name}}" ng-click="draft.setReceiver(popularUser)" style="border-radius: 50%"/>
                  <span class="circle link" ng-click="draft.setReceiver()">self</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-xs-6 col-sm-3 lower">
            <span class="header-title" style="font-size: 16px">WHEN and WHERE?</span><br/>
            <div class="form-group">
              <span class="header-title">Time:</span>
              <button type="button" ng-show="!draft.editingTime " rel="tooltip" title="Edit" ng-click="draft.flipTimeEditingStatus()" class="btn btn-danger btn-simple btn-xs">
                <i class="fa fa-edit"></i>
              </button>
              <div ng-show="!draft.editingTime">{{draft.data.ETA}}
              </div>
              <div class="card" ng-show="draft.editingTime">
                <div class="content">
                  <label>Date</label>
                  <div class="form-group" ng-click="draft.showDatePicker()">
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="draft.selectedDate" readonly name="editDate" required-field>
                      <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                    </div>
                  </div>
                  <label>Time</label>
                  <div class="form-group" ng-click="draft.showTimePicker()">
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="draft.selectedTime" readonly name="editTime" required-field>
                      <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                    </div>
                  </div>
                  <button ng-disabled="editDraftForm.editDate.$invalid || editDraftForm.editTime.$invalid" type="submit" ng-click="draft.saveTime()" class="btn btn-info btn-fill">Save</button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="header-title" style="margin-top: 20px">Place:&nbsp;
                <button type="button" rel="tooltip" title="{{draft.editingLocation ? 'Save' : 'Edit'}}" ng-click="draft.editingLocation ? draft.saveLocation(draft.data.location) : draft.flipLocationEditingStatus()" class="btn {{draft.editingLocation ? 'btn-success': 'btn-danger'}} btn-simple btn-xs">
                  <i class="fa fa-edit"></i>
                </button>
              </div>
              <div ng-show="!draft.editingLocation" ng-click="draft.flipLocationEditingStatus()" style="word-wrap:break-word">{{draft.data.location}}</div>
              <div ng-show="draft.editingLocation">
                <input type="text" class="form-control form-group" ng-keydown="$event.keyCode === 13 && !$event.shiftKey && draft.saveLocation(draft.data.location)" ng-model="draft.data.location" name="editLocation" required-field autocomplete="off">
              </div>
            </div>
          </div>
          <div class="col-md-2 col-xs-6 col-sm-3 lower">
            <button type="button" style="margin-bottom: 10px; border-width: 1px; border-color: green; color: green" class="btn btn-social btn-outline" ng-click="draft.publishDraft()">
              <i class="pe-7s-like2"></i>
              Publish
            </button>
            <br/>
            <button type="button" style="border-color: red; border-width: 1px; color: red" class="btn btn-social btn-outline" ng-click="draft.deleteDraft()">
              <i class="pe-7s-trash"></i>
              Delete
            </button>
          </div>
        </div>
        <div class="row" style="margin-top: 30px">
          <div class="col-md-8">
            <span class="header-title" style="font-size: 16px">Title</span>&nbsp;
            <button type="button" rel="tooltip" title="{{draft.editingTitle ? 'Save' : 'Edit'}}" ng-click="draft.editingTitle ? draft.saveTitle(draft.data.title) : draft.flipTitleEditingStatus()" ng-disabled="draft.editingTitle && editDraftForm.editTitle.$invalid" class="btn {{draft.editingTitle ? 'btn-success' : 'btn-danger'}} btn-simple btn-xs">
              <i class="fa {{draft.editingTitle ? 'fa-check-square': 'fa-edit'}}"></i>
            </button>
            <div ng-show="!draft.editingTitle" ng-click="draft.flipTitleEditingStatus()" style="word-wrap:break-word">{{draft.data.title}}</div>
            <div ng-show="draft.editingTitle">
              <input type="text" style="padding-left: 30px;" ng-readonly="!draft.editingTitle" class="form-control form-group {{draft.editingTitle ? '' : 'link'}}" ng-keydown="$event.keyCode === 13 && draft.saveTitle(draft.data.title)" ng-model="draft.data.title" name="editTitle" required-field autocomplete="off"/>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 30px; margin-bottom: 20px">
          <div class="col-md-8">
            <span class="header-title" style="font-size: 16px">Description</span>&nbsp;
            <button type="button" rel="tooltip" title="{{draft.editingDescription ? 'Save' : 'Edit'}}" ng-click="draft.editingDescription ? draft.saveDescription() : draft.flipDescriptionEditingStatus(draft.data.text)" ng-disabled="draft.editingDescription && editDraftForm.editDescription.$invalid" class="btn {{draft.editingDescription ? 'btn-success' : 'btn-danger'}} btn-simple btn-xs">
              <i class="fa fa-edit"></i>
            </button>
            <div class="pre" ng-show="!draft.editingDescription" ng-click="draft.flipDescriptionEditingStatus(draft.data.text)"></div>
            <div ng-show="draft.editingDescription">
              <textarea name="editDescription"></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-view>