<ion-view view-title="ToDoList" cache-view="false">
  <nav class="navbar navbar-default navbar-fixed">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/tab/todo">Dashboard</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a href="">
            <i class="fa fa-search"></i>
            <p class="hidden-lg hidden-md">Search</p>
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="card" style="box-shadow: none; margin-top:15px;">
          <img class="avatar border-gray" src="{{todoList.accountPicture()}}" alt="..."/>
        </li>
        <li>
          <a href="#!/login" ng-click="todoList.logout()">Log out</a>
        </li>
        <li class="separator hidden-lg"></li>
      </ul>
    </div>
  </div>
</nav>


<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="header" style="{{todoList.proposingInProgress ? '':'padding-bottom:15px;'}} cursor: pointer;" ng-click="todoList.flipProposingStatus()">
          <i class="pe-7s-{{todoList.proposingInProgress ? 'close-circle': 'plus'}}"></i>
          <span class="title" style="padding-left:5px">Add a new proposal...</span>
        </div>
        <div class="content" ng-show="todoList.proposingInProgress">
          <form name="addTaskForm" ng-submit="todoList.addTask(todoList.newTask)">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Proposal body</label>
                  <textarea rows="5" name="newTask" ng-model="todoList.newTask" class="form-control" placeholder="Describe your proposal" required-field></textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label>Receiver</label>
                  <input type="text" name="newReceiver" ng-model="todoList.newReceiver" class="form-control typeahead" data-provide="typeahead" placeholder="To whom" autocomplete="off" required-field>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Date</label>
                  <div class="form-group" ng-click="todoList.showDatePicker()">
                    <div class="input-group">
                      <input type="text" name="newDate" class="form-control" ng-model="todoList.newDate" readonly required-field>
                      <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Time</label>
                  <div class="form-group" ng-click="todoList.showTimePicker()">
                    <div class="input-group">
                      <input type="text" name="newTime" class="form-control" ng-model="todoList.newTime" readonly required-field>
                      <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-2">
                <button style="margin-top:25px" type="submit" onclick="this.focus();" class="btn btn-info btn-fill pull-right" ng-disabled="addTaskForm.newTask.$invalid || addTaskForm.newReceiver.$invalid || addTaskForm.newDate.$invalid || addTaskForm.newTime.$invalid">Send the proposal</button>
              </div>
            </div>

            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <button ng-repeat="filterToggle in todoList.filters" style="border-color: #9A9A9A; border-width: 1px; color: #9A9A9A; margin-bottom: 10px; margin-right: 10px" class="btn btn-round btn-social btn-outline btn-filter {{todoList.currentFilter.name === filterToggle.name ? 'active': ''}}" ng-click="todoList.applyFilter(filterToggle)">
        {{filterToggle.name}}
      </button>
    </div>
    <div class="row">
      <div class="card ">
        <div class="header">
          <h4 class="title">Tasks</h4>
          <p class="category">Backend development</p>
        </div>
        <div class="content">
          <div class="table-full-width">
            <table class="table">
              <tbody>
              <tr ng-repeat="task in todoList.tasks">
                <td>
                  <i style="font-size: 30px;" class="pe-7s-{{todoList.getTaskStatusImage(task)}}"></i>
                </td>
                <td>
                  {{task.time}}
                </td>
                <td>
                  <img class="avatar border-gray" src="{{task.authorPicture}}" alt="..."/>
                  {{task.authorName}}
                </td>
                <td>
                  >
                </td>
                <td>
                  <img class="avatar border-gray" src="{{task.receiverPicture}}" alt="..."/>
                  {{task.receiverName}}
                </td>
                <td><a href="#!/tab/proposal/{{task._id}}">{{task.text}}</a></td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                    <a href="#!/tab/proposal/{{task._id}}"><i class="fa fa-edit"></i></a>
                  </button>
                  <button rel="tooltip" title="Remove" ng-click="todoList.removeTask(task)" class="btn btn-danger btn-simple btn-xs">
                    <i class="fa fa-times"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="footer">
            <hr>
            <div class="stats">
              <i class="fa fa-history"></i> Updated 3 minutes ago
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</ion-view>

