<div>
<div class="row">
  <div class="col-md-10 col-sm-10 col-xs-7" style="padding-left: 0px">
        <span ng-click="todoList.flipSearchEditing()" style="border-color: #9A9A9A; border-width: 1px; color: #9A9A9A; margin-bottom: 10px; margin-right: 10px; {{todoList.searchEdit? 'width: 90%;' : ''}} " class="btn btn-round btn-social btn-outline">
          <i class="fa fa-search"></i>
          <span ng-show="!todoList.searchEdit">Search</span>
          <span ng-show="todoList.searchEdit" class="search">
            <input type="text" autofocus style="width: 60%; border: none; margin-right: 20px" ng-model="todoList.search" class="searchtypeahead" data-provide="typeahead" autocomplete="off"/>
            <span class="hidden-xs hidden-sm">
              <span class="alternative-action" style="text-decoration-line: none">include archive</span>
              <span class="material-switch" style="margin-left: 10px">
                <input id="searchWithArchive" name="searchWithArchiveElem" type="checkbox" class="with-archive" ng-model="todoList.searchWithArchive">
                <label for="searchWithArchive" class="label-default"></label>
              </span>
            </span>
          </span>
        </span>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-5">
        <span class="dropdown" style="float: right !important;">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort: {{todoList.currentSort.name}}
            <span style="margin-left: 10px;" class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a ng-repeat="sortToggle in todoList.sorts" class="link" ng-click="todoList.selectSort(sortToggle)" ng-show="sortToggle.visible">{{sortToggle.name}}</a></li>
          </ul>
        </span>
  </div>
</div>
<div id="filters" class="row">
  <button style="border-color: #9A9A9A; border-width: 1px; color: #9A9A9A; margin-bottom: 10px; margin-right: 10px" class="filterToggle btn btn-round btn-social btn-outline btn-filter {{todoList.currentFilter.name === filterToggle.name ? 'active': ''}} {{filterToggle.hide ? 'no-show': ''}}" ng-click="todoList.applyFilter(filterToggle)" ng-repeat="filterToggle in todoList.filters" ng-if="!filterToggle.hide">
    {{filterToggle.name}}
  </button>
  <a href="" style="border-color: #9A9A9A; border-width: 1px; color: #9A9A9A; margin-bottom: 10px; margin-right: 10px" class="hidden btn btn-round btn-social btn-outline btn-filter btn-more" ng-click="todoList.flipFiltersStatus()">
    More...
  </a>
</div>
<div ng-repeat="taskList in todoList.tasks" class="row">
  <div class="card">
    <div class="header">
      <h4 class="title">{{taskList.name}}
        <span class="alternative-action" style="text-decoration-line: none; font-size: 14px" ng-show="taskList.datepickerStub">or start with another date (<a class="link alternative-action" ng-click="todoList.applyDate('today')">today</a> / <a class="link alternative-action" ng-click="todoList.applyDate('tomorrow')">tomorrow</a> / <a class="link alternative-action" ng-click="todoList.applyDate('more')">more</a>)</span>
        <a class="link" style="float: right !important; font-size: 14px;" ng-show="taskList.sliced" ng-click="taskList.opened = !taskList.opened">
          {{taskList.opened ? 'Less...' : 'More...'}}
        </a>
      </h4>
    </div>
    <div class="content">
      <div class="table-full-width">
        <table class="table" style="margin-bottom: 0px">
          <tbody>
          <tr ng-show="taskList.tasks.length == 0"><td>no tasks</td></tr>

          <tr ng-show="taskList.notifications" ng-repeat="task in taskList.tasks | limitTo: (!taskList.sliced || taskList.opened ? taskList.length : taskList.limit)" style="background-color: 'white'">
            <td>{{task.notice.type.text}}</td>
            <td><a href="#!/tab/proposal/{{task._id}}">{{task.title}}</a></td>
            <td>{{task.notice.time}}</td>
            <td>
              <a href="#!/tab/profile/{{task.notice.actor.id}}" class="base-color">
                by
                <img class="avatar border-gray" src="{{task.notice.actor.picture}}" alt="..."/>
                {{task.notice.actor.name}}
              </a>
            </td>
            <td ng-click="todoList.removeNotice(task)" class="link"><i class="pe-7s-close-circle"></i></td>
          </tr>

          <tr ng-hide="taskList.notifications" ng-repeat="task in taskList.tasks | limitTo: (!taskList.sliced || taskList.opened ? taskList.length : taskList.limit)" style="background-color: {{task.toCurrentUser ? 'white' : (task.fromCurrentUser ? 'rgba(0,0,0,.1)' : 'rgba(0,0,0,.05)')}}">
            <td ng-click="todoList.gotoProposal(task._id)" class="link">
              <a href="#!/tab/proposal/{{task._id}}"><i style="font-size: 30px;" class="pe-7s-{{todoList.getTaskStatusImage(task)}}"></i></a>
            </td>
            <td ng-click="todoList.gotoProposal(task._id)" class="link">
              {{task.time}}
            </td>
            <td ng-show="task.toCurrentUser == task.fromCurrentUser" ng-click="todoList.gotoProposal(task._id)" class="link">
              self agreement
            </td>
            <td ng-show="task.toCurrentUser">
              <a href="#!/tab/profile/{{task.author.id}}" class="base-color">
              from
              <img class="avatar border-gray" src="{{task.authorPicture}}" alt="..."/>
              {{task.author.name}}
              </a>
            </td>
            <td ng-show="task.fromCurrentUser">
              <a href="#!/tab/profile/{{task.receiver.id}}" class="base-color">
              to
              <img class="avatar border-gray" src="{{task.receiverPicture}}" alt="..."/>
              {{task.receiver.name}}
              </a>
            </td>
            <td><a href="#!/tab/proposal/{{task._id}}">{{task.title}}</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>