<ion-view view-title="ToDoList" cache-view="false">
  <nav class="navbar navbar-default navbar-fixed">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar" onclick='$(":root").toggleClass("nav-open"); $(".sidebar").removeClass("in")'>
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/tab/todo">Dashboard</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="card" style="box-shadow: none; margin-top:15px;">
          <img class="avatar border-gray" src="{{todoList.accountPicture()}}" alt="..."/>
        </li>
        <li>
          <a href="#!/login" ng-click="todoList.logout()">Log out</a>
        </li>
        <li class="separator hidden-lg"></li>
      </ul>
    </div>
  </div>
</nav>


<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="card content" style="padding: 15px">
        <form name="addTaskForm" ng-submit="todoList.addTask(todoList.newTask)" autocomplete="off">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>What do you propose?</label>
                <input type="text" name="autocompleteOff10" autocomplete="off" style="display:none;">
                <!-- ng-if is not used for the input as there is a lag on flip after the focus event -->
                <input type="text" ng-model="todoList.newTask" class="form-control hideOnTask" placeholder="Anything..." autocomplete="off" autofill="off" ng-focus="todoList.flipProposingStatus()"/>
                <!-- ng-if is used instead of ng-show to prevent lag in hiding on the page load -->
                <textarea ng-if="todoList.proposingInProgress" rows="5" name="newTask" ng-model="todoList.newTask" class="form-control" placeholder="Describe your proposal" required minlength='1'></textarea>
              </div>
            </div>
          </div>

          <div ng-if="todoList.proposingInProgress">
            <div class="form-group">
              <label>To whom?</label><br/>
              <input type="text" name="autocompleteOff1" autocomplete="off" style="display:none;">
              <div class="col-md-3" style="margin: 8px 0px">
                <img ng-repeat="popularUser in todoList.popularUsers" class="avatar border-gray link" src="{{popularUser.picture}}" alt="{{popularUser.name}}" title="{{popularUser.name}}" ng-click="todoList.setReceiver(popularUser)"/>
                <span class="circle link" ng-click="todoList.setReceiver()">self</span>
                <span style="margin: 0px 10px">or</span>
              </div>
              <div class="col-md-9">
                <input type="text" name="newReceiver" ng-model="todoList.newReceiver" ng-keyup="todoList.suggestKeyEntered()" class="form-control typeahead" data-provide="typeahead" placeholder="Start entering the name" required minlength='1' contacts-only autocomplete="off" autofill="off"/>
                <div ng-hide="todoList.invitationLimitReached" class="alternative-action link" data-toggle="modal" data-target="#inviteModal">invite a new person to connect to</div>
              </div>
            </div>
            <label style="text-align: left; width: 100%">When do you need it?</label><br/>
            <div style="text-align: center" class="col-md-4 col-sm-4 col-xs-4 alternative-action link" ng-repeat="timeOption in todoList.timeOptions" ng-click="todoList.setTimeOption(timeOption)">{{timeOption.name}}</div>
            <br/>
            <div class="col-md-3">
              <div class="form-group">
                <label>Date</label>
                <div class="form-group" ng-click="todoList.showDatePicker()">
                  <div class="input-group">
                    <input type="text" name="newDate" class="form-control" ng-model="todoList.newDate" readonly required minlength='1'>
                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Time</label>
                <div class="form-group" ng-click="todoList.showTimePicker()">
                  <div class="input-group">
                    <input type="text" name="newTime" class="form-control" ng-model="todoList.newTime" readonly required minlength='1'>
                    <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                  </div>
                </div>
              </div>
            </div>
            <button style="margin-top:25px" type="submit" onclick="this.focus();" class="btn btn-info btn-fill pull-right" ng-disabled="addTaskForm.newTask.$pristine || addTaskForm.newTask.$invalid || addTaskForm.newReceiver.$pristine || addTaskForm.newReceiver.$invalid || addTaskForm.newDate.$pristine  || addTaskForm.newDate.$invalid || addTaskForm.newTime.$pristine || addTaskForm.newTime.$invalid">Send the proposal</button>
          </div>

          <div class="clearfix"></div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-sm-10 col-xs-7" style="padding-left: 0px">
        <a href="" ng-click="todoList.flipSearchEditing()" style="border-color: #9A9A9A; border-width: 1px; color: #9A9A9A; margin-bottom: 10px; margin-right: 10px; {{todoList.searchEdit? 'width: 90%;' : ''}} " class="btn btn-round btn-social btn-outline">
          <i class="fa fa-search"></i>
          <span ng-if="!todoList.searchEdit">Search</span>
          <input type="text" autofocus style="width: 90%; border: none;" ng-if="todoList.searchEdit" ng-model="todoList.search"/>
        </a>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-5">
        <span class="dropdown" style="float: right !important;">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort: {{todoList.currentSort.name}}
            <span style="margin-left: 10px;" class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a ng-repeat="sortToggle in todoList.sorts" class="link" ng-click="todoList.selectSort(sortToggle)" ng-show="sortToggle.visible">{{sortToggle.name}}</a></li>
          </ul>
        </span>
      </div>
    </div>
    <div id="filters" class="row">
      <button style="border-color: #9A9A9A; border-width: 1px; color: #9A9A9A; margin-bottom: 10px; margin-right: 10px" class="filterToggle btn btn-round btn-social btn-outline btn-filter {{todoList.currentFilter.name === filterToggle.name ? 'active': ''}} {{filterToggle.hide ? 'no-show': ''}}" ng-click="todoList.applyFilter(filterToggle)" ng-repeat="filterToggle in todoList.filters" ng-hide="filterToggle.hide">
        {{filterToggle.name}}
      </button>
      <a href="" style="border-color: #9A9A9A; border-width: 1px; color: #9A9A9A; margin-bottom: 10px; margin-right: 10px" class="hidden btn btn-round btn-social btn-outline btn-filter btn-more" ng-click="todoList.flipFiltersStatus()">
        More...
      </a>
    </div>
    <div ng-repeat="taskList in todoList.tasks" class="row">
      <div class="card ">
        <div class="header">
          <h4 class="title">{{taskList.name}}
            <a class="link" style="float: right !important; font-size: 14px;" ng-show="taskList.sliced" ng-click="todoList.applyFilter(taskList.appliedFilter)">
              Show all {{taskList.size}} tasks
            </a>
          </h4>
        </div>
        <div class="content">
          <div class="table-full-width">
            <table class="table" style="margin-bottom: 0px">
              <tbody>
              <tr ng-repeat="task in taskList.tasks" style="background-color: {{task.toCurrentUser ? 'white' : (task.fromCurrentUser ? 'rgba(0,0,0,.1)' : 'rgba(0,0,0,.05)')}}" ng-click="todoList.gotoProposal(task._id)" class="link">
                <td>
                  <a href="#!/tab/proposal/{{task._id}}"><i style="font-size: 30px;" class="pe-7s-{{todoList.getTaskStatusImage(task)}}"></i></a>
                </td>
                <td>
                  {{task.time}}
                </td>
                <td ng-show="task.toCurrentUser == task.fromCurrentUser">
                  self agreement
                </td>
                <td ng-show="task.toCurrentUser">
                  from
                  <img class="avatar border-gray" src="{{task.authorPicture}}" alt="..."/>
                  {{task.author.name}}
                </td>
                <td ng-show="task.fromCurrentUser">
                  to
                  <img class="avatar border-gray" src="{{task.receiverPicture}}" alt="..."/>
                  {{task.receiver.name}}
                </td>
                <td><a href="#!/tab/proposal/{{task._id}}">{{task.title}}</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade modal-mini modal-primary" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body card" style="box-shadow: none; margin-bottom: 0px; padding-bottom: 0px;">
            <form name="inviteForm" autocomplete="off">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="autocompleteOff12" style="display:none;">
                    <input name="name" type="text" required minlength='1' ng-model="todoList.newInvitee.name" ng-keyup="todoList.findInvitee()" class="form-control" placeholder="Invitee's full name" autocomplete="nope" autofill="off"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Email</label>
                    <input type="text" name="autocompleteOff13" style="display:none;">
                    <input name="email" type="text" required minlength="1" ng-model="todoList.newInvitee.email" ng-keyup="todoList.findInvitee()" class="form-control" placeholder="Invitee's email" autocomplete="nope" autofill="off"/>
                  </div>
                </div>
              </div>
              <div ng-show="todoList.newInvitee.found" class="row">
                <div class="col-sm-12 alert alert-info" style="text-align: center;">
                  We found
                  <img class="avatar border-gray" src="{{todoList.newInvitee.found.picture}}" alt="{{todoList.newInvitee.found.name}}" title="{{todoList.newInvitee.found.name}}"/>
                  {{todoList.newInvitee.found.nameToShow}}
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer" style="border-top: none; padding-top: 0px'">
            <button type="button" class="btn btn-link btn-simple" data-dismiss="modal">Cancel</button>
            <button type="button" ng-disabled="inviteForm.name.$pristine || inviteForm.name.$invalid || inviteForm.email.$pristine || inviteForm.email.$invalid" class="btn btn-link btn-simple" data-dismiss="modal" ng-click="todoList.inviteNewPerson()">{{todoList.newInvitee.found ? 'Connect' : 'Send invite'}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</ion-view>

